html,
body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body,
#app {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    width: 100%;
    max-width: 600px;
}