/* variables */
:root {
    --borderWidth: 5px;
    --borderActiveColor: rgb(239, 68, 68);
    --borderDisabledColor: rgba(30, 41, 59, 0.25);
    --borderRadius: 3px;
    --pixelWidth: 2.5rem;
    --pixelHeight: 2.5rem;
    /* --pixelWidth: calc(100vw/18);
    --pixelHeight: calc(100vh/18); */
    --pixelSpacing: 10px;
}

*,
*::after, 
*::before {
    box-sizing: border-box;
}

/* html, body */
html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(51, 65, 85);
}

/* display container */
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
}

/* one digit */
.digit {
    display: block;
    margin-left: var(--pixelSpacing);
    margin-right: var(--pixelSpacing);
}

/* segments */
.digit > div {
    display: block;
    width: var(--pixelWidth);
    height: var(--pixelHeight);
    border-width: var(--borderWidth);
    border-color: var(--borderDisabledColor);
    border-style: solid;
    border-radius: var(--borderRadius);
}

/* remove bottom border from the first div */
.digit > div:first-child {
    border-bottom-width: 0px;
}

/* top border */
.digit > div.top {
    border-top-color: var(--borderActiveColor);
}

/* left border */
.digit > div.left {
    border-left-color: var(--borderActiveColor);
}

/* right border */
.digit > div.right {
    border-right-color: var(--borderActiveColor);
}

/* bottom border */
.digit > div.bottom {
    border-bottom-color: var(--borderActiveColor);
}
